/* <!-- ---------------Section-1 navbaar--------------- --> */

.nav1{
    background: linear-gradient(to left,rgb(7, 207, 7),green,black);
}
.a1{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../asset/Background.webp');
}

/* <!-- ---------------Section-2 Products Page--------------- --> */



/* <!-- ---------------Section-3 Products Details--------------- --> */

.btn1{
    background: linear-gradient(to left,rgb(7, 207, 7),green,black);
}
.btn2{
    background: linear-gradient(to left,rgb(105, 6, 235),black);
}
.btn3{
    background: linear-gradient(to left,red,black);
}
.table1{
    background: linear-gradient(to left,rgb(15, 68, 28),black);
}
.table2{
    background-color: rgb(191,196,192);
}