.flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.a1{
    border-radius: 32px;
    background: #edf1f4;
    box-shadow: inset 17px 17px 12px #d1d4d7,
                inset -17px -17px 12px #ffffff;
    height: 200px;
    width: 200px;
    margin: auto;
    opacity: 100%;
}

.a2{
    border-radius: 53px;
    background: linear-gradient(145deg, #feffff, #d5d9dc);
    box-shadow:  18px 18px 22px #bec1c3,
                -18px -18px 22px #ffffff;
    height: 200px;
    width: 200px;
    margin: auto;
    opacity: 100%;
}

.a3{
    border-radius: 175px;
    background: linear-gradient(145deg, #feffff, #d5d9dc);
    box-shadow: inset 15px 15px 30px #bec1c3,
                inset -15px -15px 30px #ffffff;
    height: 200px;
    width: 200px;
    margin: auto;
    opacity: 100%;
}